@model List<UserOrderViewModel>
@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

<h2>Заказы</h2>
<table class="table table-bordered">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Адрес
        </th>
        <th>
            Телефон
        </th>
        <th>
            Сумма заказа
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Order.Address</td>
            <td>@item.Order.Phone</td>
            <td>@item.TotalPrice.ToString("C")</td>
        </tr>
    }
</table>

