
@{
    ViewBag.Title = "Shop";
    Layout = "_LayoutBreadCrumbs";
}

@model CatalogViewModel
@*<section id="advertisement">
        <img src="~/images/shop/advertisement.jpg" alt="" />
    </section>*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                
                    @await Html.PartialAsync("Partial/_LeftSideBar")
                
            </div>

        <div class="col-sm-9 padding-right">
            <div id="items-container">
                @await Html.PartialAsync("Partial/_ProductItems", Model.Products)
            </div>

                <paging page-model="@Model.PageViewModel"
                        page-action="Shop"
                        page-url-CategoryId="@Model.CategoryId"
                        page-url-BrandId="@Model.BrandId">

                </paging>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/js/Products/ProductItems.js" asp-append-version="true"></script>
    <script>
        ProductItems.init({
            getUrl: "@Url.Action("GetFilteredProducts","Catalog")"
        });
    </script>
}
